.container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.products{
    color: #09f;
    font-size: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.grid{
    font-family: Montserrat;
    border: 3px solid rgba(0, 153, 255, 0.437);
    border-radius: 10px;
    max-height: 305px;
    opacity: 0;
    animation: loadInit 0.5s ease forwards;
}

p{
    margin: 0;
    font-family: Montserrat;
    font-size: 0.6em;
    text-align: left;
    padding-left: 10px;
}

@keyframes loadInit{
    100%{
      opacity: 1;
    }
  }